/* header */
body {
  position: absolute;
  background-color: #030c40;
}
.header {
  padding: 15px 25px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  position: fixed;
  right: 0;
  left: 0;
  z-index: 1000;
}
.header-left {
  display: flex;
  align-items: center;
  gap: 40px;
}
.header-left .Extensions {
  display: flex;
  gap: 40px;
  align-items: center;
}
.Extensions a {
  text-decoration: none;
  font-size: 14px;
  color: black;
  font-weight: 700;
}
.Extensions a:hover {
  color: #2474ff;
}
.search {
  display: flex;
  align-items: center;
}
.search input {
  padding: 5px 12px;
  border: solid 1px gray;
  border-radius: 6px;
  border-top-right-radius: 0px;
  border-right: none;
  border-bottom-right-radius: 0px;
  font-weight: 200;
  background-color: white;
}
.search div {
  border: solid 1px gray;
  border-radius: 6px;
  padding: 5.5px 12px;
  border-top-left-radius: 0px;
  border-left: none;
  border-bottom-left-radius: 0px;
}
div i {
  font-size: 20px;
  padding: 2px;
}
.logo {
  width: 100px;
}
.logo img {
  width: 100%;
  object-fit: contain;
}
/* main */

.newfilm {
  margin-top: 70px;
}
.inforaboutfilm {
  margin-top: -620px;
  margin-left: 100px;
  display: flex;
  flex-direction: column;
  width: 500px;
  align-items: center;
  gap: 5px;
}
.inforaboutfilm img {
  width: 360px;
  height: 360px;
  object-fit: contain;
}
.discrip {
  color: white;
  text-align: center;
  margin-top: -75px;
}
.inforaboutfilm .Goto {
  background-color: white;
  width: 230px;
  height: 50px;

  border-radius: 30px;
  margin-top: 5px;
  font-weight: 500;
}
.inforaboutfilm .Watch {
  border: 1px solid white;
  width: 230px;
  height: 50px;
  border-radius: 30px;
  color: white;
  font-weight: 500;
  margin-top: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}
.inforaboutfilm .Watch i {
  font-size: 12px;
}
.Watch:hover {
  background-color: rgba(255, 255, 255, 0.329);
}
.content {
  margin-top: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 18px;
}
.content .first {
  color: white;
  font-size: 30px;
}
.content .last {
  color: white;
  font-size: 15px;
  margin-bottom: 150px;
}
.typeoffilm {
  display: flex;
  padding: 0px 100px;
  gap: 30px;
  align-items: start;
}
.typeoffilm p {
  color: white;
  font-weight: 600;
  font-size: 14px;
  cursor: pointer;
}
.underline {
  border-bottom: solid 3px #2474ff;
  padding-bottom: 5px;
}
.list-film {
  padding: 40px 95px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  row-gap: 50px;
}
.thefilm {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 15px;
  width: 250px;
  cursor: pointer;
}
.poster {
  width: 250px;
  height: 360px;
}
.poster img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5px;
}
.list-film p {
  color: white;
}
/* sp */
.cont-support h1 {
  color: white;
  font-size: 30px;
  margin-bottom: 20px;
}

.cont-support {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 100px;
  gap: 10px;
}
.question {
  background-color: #5a4b96ac;

  width: 1000px;
  height: 80px;
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
  align-items: center;
  font-size: 20px;
}
.question:hover {
  background-color: #4e459b;
}
.answer {
  background-color: #392783ac;
  width: 1000px;
  height: 100px;
  display: none;
  color: white;
  text-align: start;
  padding: 10px 20px;
}
.asked-answer {
  display: flex;
  flex-direction: column;
  gap: 2px;
}
.question p:first-child {
  color: white;
}
/* end */
.end {
  display: flex;
  flex-direction: column;
  margin-top: 70px;
  align-items: center;
  padding: 0px 50px;
}
.end p {
  color: white;
  font-size: 13px;
  text-align: center;
}
.conv {
  margin-top: 100px;
  display: flex;
  gap: 50px;
}
.conv p i {
  font-size: 30px;
}
.more-infor {
  display: flex;
  gap: 20px;
  justify-content: center;
  margin-top: 100px;
}
.more-infor p {
  color: white;
  font-size: 11px;
}
.more-infor2 {
  display: flex;
  gap: 20px;
  justify-content: center;
  margin-top: 15px;
}
.more-infor2 {
  color: white;
  font-size: 11px;
}
.close {
  color: white;
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 12px;
  text-align: center;
}
/* thefilm */
.main-content {
  width: 1535px;
  height: 640px;
  margin-top: 72px;
  position: absolute;
}
.main-content .fill {
  content: none;
  background-color: #ffffff;
  width: 1535px;
  height: 500px;
  position: relative;
  margin-top: -500px;
  background: linear-gradient(
    180deg,
    #030c4000 0%,
    #030c400a 16%,
    #030c4021 29%,
    #030c4042 41%,
    #030c406b 51%,
    #030c4094 61%,
    #030c40bd 70%,
    #030c40de 79%,
    #030c40f5 89%,
    #030c40ff 100%
  );
}

.main-content img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.logo-film {
  width: 360px;
  height: 360px;
  position: relative;
  margin-left: 595px;
  margin-top: 340px;
}
.logo-film img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.stream-watch {
  position: relative;
  display: flex;
  gap: 10px;
  margin-left: 540px;
  margin-top: -90px;
}
.stream-watch .Goto {
  background-color: white;
  width: 230px;
  height: 50px;

  border-radius: 30px;
  margin-top: 5px;
  font-weight: 500;
  font-size: 16px;
}
.stream-watch .Watch {
  border: 1px solid white;
  width: 230px;
  height: 50px;
  border-radius: 30px;
  color: white;
  font-weight: 500;
  margin-top: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}
.stream-watch .Watch i {
  font-size: 12px;
}
